<div class="bg-dark text-white vh-100 p-3">
  <h5>Attendance System</h5>

  <ul>
    <li>
      <a href="/dashboard" class="nav-link text-white" routerLinkActive="active">
        <fa-icon [icon]="dashboard"></fa-icon>
        Dashboard
      </a>
    </li>

    <li>
      <a href="/user" class="nav-link text-white" routerLinkActive="active">
        <fa-icon [icon]="user"></fa-icon>
      </a>
    </li>

    <li>
      <a href="/users" class="nav-link text-white" routerLinkActive="active">
        <fa-icon [icon]="users"></fa-icon>
      </a>
    </li>
  </ul>
</div>
